
/* 10 30 70 */
:root{

    /* GLOBAL COLOR */
    --storycolor:hsl(223, 15%, 91%);

    /* DARKMODE FB */
    --firstcolor:#18191a;
    --secondcolor:hsl(210, 3%, 15%);
    --menucolor:hsl(217, 100%, 52%);
    --inputcolor:hsl(210, 2%, 23%);
    --fontcolor:hsl(218, 5%, 71%);
    --fontcolor1:hsl(223, 15%, 91%);
    --menuhover:hsla(218, 5%, 71%, 0.2);

    /* PINKMODE  */
    /* --firstcolor:#F5D2E6 ; 
    --secondcolor:  #FE5D9F;
    --menucolor:#F5D2E6;
    --inputcolor:  #F4BBD3;
    --fontcolor:#be004f;
    --fontcolor1:#750031;
    --menuhover:hsla(217, 5%, 71%, 0.5) */



    /* LIGHT MODE FB */
    /* --firstcolor:rgba(240,242,245,255);
    --secondcolor:rgba(255,255,255,255);
    --menucolor:hsl(217, 100%, 52%);
    --inputcolor:rgba(240,242,245,255);
    --fontcolor:rgba(119,121,125,255);
    --fontcolor1:rgba(19,19,20,255);
    --menuhover:hsla(218, 5%, 71%, 0.2); */
}
.object-contain{
    object-fit: contain ;
}
/* NAV MENU */
header{
    position: fixed;
    width: 100%;
    z-index: 1
    /* position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position:-ms-sticky;
    position: -o-sticky; */
   
   
}
.flexbox-container{
    display: flex;
    height: 5.5rem;

    background-color: var(--secondcolor);
    border-bottom: 1px solid var(--inputcolor);
    width: 100%;
    
}
.flexbox-item{
    flex: 1;
}

.flexbox-1{
    display: flex;
    padding: 0.5rem ;
}
 

.flexbox-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:3.3;
     
}

.flexbox-3{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 1rem;
}

/* CUSTOM WEBKIT */
.searchbar-facebook-text::-webkit-input-placeholder{
     color: var(--fontcolor);
}



/* ELEMENTS */

/* MAIN SCROLL */
 
/* ::-webkit-scrollbar {
 
    background: var(--menuhover); 
} */
/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--menuhover); 
 
} */
/* Track */
/* ::-webkit-scrollbar-thumb {
background-color: var(--fontcolor);
} */

/* LOGO AND SEARCH */
.circle-facebook{
    /* background-color: white; */
  
    /* width: 3.3rem; */
    margin: 0.2rem;
    padding-left: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--menucolor);
    font-size: 4rem;
    font-weight: bold;
    
}
.searchbar-facebook{
    width: 24rem;
    margin: 0.2rem 0.5rem ;
    border-radius: 50px / 50px;
    background-color: var(--inputcolor);
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.searchbar-facebook-text{
    font-size: 1.5em;
    margin-left: 0.9rem;
    background-color: var(--inputcolor);
    font-weight: lighter;
    width: 17rem;
}
.searchbar-facebook-icon{
    color: var(--fontcolor);
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
 

/* MIDDLE */

.menu-button{
    color: var(--fontcolor);
    width: 12.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 0.5rem;
 
}
.d-none{
    display: none;
}
.menu-icon{
    font-size: 2.2em;
    
}
 
/* PROFILE */
.findfriends-button{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 11rem;
    background-color: var(--inputcolor);
    color: var(--fontcolor1);
    border-radius: 50px / 50px;
    margin: 0rem 0.5rem;
    font-size: 1.4rem;
    font-weight:bolder;
}
.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background-color: var(--inputcolor);
    color: var(--fontcolor1);
    border-radius: 50%;
    margin: 0rem 0.45rem;
     
}
.profile-icon{
    font-size: 1.9em;
    
}
.circle-shape{
    border-radius: 50%;
    font-size: 3em;
}
.profile-picture{ 
    position:relative;
    height: 4.2rem;
    width: 4.2rem;
    margin-right: .5rem;
    margin-left:.10em ;
}
.profile-span{
    position: absolute;
    bottom: -10%;
    right: -10%;
    color: var(--fontcolor);
    color: var(--inputcolor);
    background-color: var(--fontcolor);
    border: 3px solid var(--secondcolor);
    border-radius: 50%;
    font-size: 1.3em;
     
    
}
.profile-picture:hover{
      filter: brightness(110%)  ;
    
}
.profile-hover:hover{
    background-color: rgba(176, 179, 184, .3);
}
 
/* ---------------- BODY ---------------- */

.container-md{
    display: flex;
    margin: auto;
    max-width: 1960px;
    
}

.flexbox-body-container{
    background-color: var(--firstcolor);
    display: flex;
    margin-top: 5.5em;
    width: 100%;
    height: 100%;
}
.flexbox-body-item{
     
       flex: 1;
 
}
.flexbox-body1{
 
 
}
.side-menu-body{
    position:sticky;
    top: 5.6em; 
 
   
}
.menu-side-profile{
    width: 1.2em;
    height: 1.2em;
    color: var(--fontcolor1);
   
    margin: 5px 5px 5px 7px;
}
.menu-side-icon{
    color: var(--fontcolor1);
    font-size: 3em;
    margin: 5px 5px 5px 9px;
}
.menu-side-title{
    color: var(--fontcolor1);
    font-size:1.4em;
    font-weight:bolder;
    margin-left:0.6em;
    cursor:pointer;
     user-select: none;
}
.menu-list-body{
   padding:  1.5em 0.7em;
   padding-bottom: 0;
 
    overflow-y: auto; 
  overflow-x: hidden;
}
.menu-item{
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 0.2em;
}
.menu-item:hover{
    background-color: var(--menuhover);
    border-radius: 0.7em 0.7em;
}

.side-footer{
    margin: 1em .8em ;
    font-size: 1.27em;
    color: var(--fontcolor);
    width: auto;
    position: fixed;
    bottom: 0;
}
.side-footer > a{
    color: var(--fontcolor);
}
 

/* MIDDLE CONTENT */
.flexbox-body2{
    display: flex;
    justify-content: center;
    align-items: start;
    flex:3.3;
    padding: 0 32px;
    z-index: 0;
}

.content-story{
    margin-top: 2rem;
    width: 68em;
      
}
.card-story{
    width: 68em;
    overflow-x: hidden;
  display: flex;
  
  padding: 5px 0px; margin: auto;
}
.d-flex{
    display: flex;  justify-content: center;
    align-items: start;
}
.card-element{
    cursor: pointer  ;
    margin-right: .5em;
    display: flex;
    border-radius: 10px; 
    width: 140px;
    height: 25em; 
    overflow:hidden;
    background-color: rgba(0, 0, 0);
    overscroll-behavior-x:contain ;
    box-shadow: 1px 1px 1px  var(--firstcolor);
    position: relative;
 
}
.card-image{
    filter: opacity(90%);
    width: 140px;
    object-fit:cover;
    background-color: black;
    
}
.card-image:hover{
     transform: scale(1.02); 
     transition: .2s linear; 
     opacity: 90%;
 
}
.card-profile-story{
    position: absolute;
    width: 1.4em;
    top: 4%;
    left: 9%;
    
}

.card-name-story{
    position: absolute;
    bottom: 1%;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    color: var(--storycolor);
    font-weight: 500;
}
 
.flexbox-body3{
 
}
.opacity-50{
    opacity:50%;
}
.side-title{
    color:var(--fontcolor);
    font-size: 1.9rem;
     display: flex;
     width: 100%;
     padding: 8px;
   
}
hr{
    border-top: 1px solid var(--menuhover);
    margin: 8px;
}
 
.contact-text{
    flex: 1;
    font-weight: 100;
    display: flex;
    justify-content: start;
    align-items: center;
}
.contact-list{
  flex: 1;
  display:flex;
  justify-content:end;
}
.contact-menu{
    font-size: .8em;
    color: var(--fontcolor);
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.contact-menu:hover{
    border-radius: 50%;
    background-color: var(--menuhover);
}
.create-new-group{
    font-size:1.5rem ;
     display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    background-color: var(--menuhover);
    color: var(--fontcolor1);
    border-radius: 50%;
    margin: 0rem 0.45rem;
  
}
.post-something{
    margin-top:2em ;
    border-radius: 10px; 
    text-align: center;
    background-color: var(--secondcolor);
    margin-left: auto;
     margin-right: auto;
     padding: 1em;
}
/*
flex-post

post-something-picture
post-something-button

live-video-button
Photo/Video-button
Feeling/Activity-button
*/
 
.flex-post{
    display: flex;
     width: auto;
    padding: .5em;
    padding-top: 0;
    padding-bottom: .3em;
}
 
.post-something-picture{
    width: 1.3em;
}
.post-something-picture:hover{
   filter: brightness(120%)  ;
}
 
.post-something-button{
    padding-left: .7em;
    margin-left: .6em;
    font-size: 1.6em;
    border-radius: 50px 50px;
    display: flex;
    align-items: center;
    text-align: start;
    width: 100%;
    background-color: var(--inputcolor);
    color: var(--fontcolor);
}
.post-something-button:hover{
    background-color: var(--menuhover);
}
.post-button{
   color: var(--fontcolor);
    font-size: 1.5em;
    display:  flex;    
    justify-content: center;
    align-items: center;
    padding: .5em 2em;
    border-radius: 8px;
    width: 100%;
}
.post-button:hover{
    background-color: var(--menuhover);
}
 
.post-button-icon{
    font-size: 1.5em;
    margin-right: .5em;
     
 
}
.content-post{
    height: auto;
    width: 100%;
    margin-top: 2em;
    border-radius: 8px;
    background-color: var(--secondcolor);
     
}
.content-flex{
    display: flex;
         
}
.content-padding-post{
    padding: 1.5em;
        padding-top: .9em;
        padding-bottom: .9em;
}
.content-name{
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
     margin-left:1em; 
}
.content-name-text{
  
    color: var(--fontcolor1);
    font-size:1.4em;
    font-weight:bolder;
    cursor:pointer;
    user-select: none;
  
}
.content-name-text:hover{
    text-decoration: underline;
}
.post-name-flex{
    display: flex;
    flex-direction: column;
}
.content-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-padding{
    padding:.1em;
}
.content-name-text{
font-size: 1.5em;
}
.content-post-time{
color: var(--fontcolor);
font-size: 1.1em;
}
.content-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--fontcolor);
}
.content-comment-text{
    color: var(--fontcolor1);
    font-size: 1.5em;
    width: auto;
    margin:.5em; 
   
}
.content-icon{
     padding-right: 1.2em;
    font-size: 1.5em;
}
.content-post-image{
    width: 100%;  
    display: flex;
    position:static;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.post-image{
    object-fit:contain;
    width: 90%;
   
}
.post-time-link:hover{
    text-decoration: underline;
}
/* JUST FOR TESTING */
.content-story{
    margin-bottom: 5em;
}
.fa-video{
color: #f02849;
}
.fa-image{
color: #45bd62;
}
.fa-face-laugh{
color: #f7b928;
}
 
/* SCROLL */